* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.top {
    background-color: black;
    color: white;
    height: 70px;
}

.contenido, .nav{
    width: 1000px;
    display: flex;
    margin: 0 auto;
}

.nav{
    justify-content: space-between;
    align-items: center;
    height: inherit;
}

.nav-links{
    display:flex;
    align-items: center;
    justify-content: start;
    margin: 0;
}

a{
    color:#c7c7c7;
    margin: 0px 25px;
    text-decoration: none;
}

.active{
    font-weight: bold;
    color: white;
}

ul{
    display:inline-flex;
    list-style:none;
    margin: 10px;
}

button{
    background-color: #17a2b8;
    padding: 5px 20px;
    color: white;
    font-size: 20px;
}

/* Desarrollo de pagina*/

.col-i{
    flex: 2;
    margin: 30px 15px 30px 0px;
}

.col-d{
    flex: 1;
    margin: 30px 0px 30px 15px;
}

/* Desarrollo de columna izquierda*/

.bloque1{
    height: 100px;
    background: #17a2b8;
    border: 2px solid #17a2b8;
}

.user img{
    height: 100px;
    width: 100px;
    border: 3px solid #cccccc;
    padding: 3px;
    background-color: white;
    border-radius: 100px;
    margin-left: 45px;
    margin-top: 45px;
}

#bloque2{
    border-bottom: 4px solid #cccccc;
    border-left: 4px solid #cccccc;
    border-right: 4px solid #cccccc;
    padding: 60px 0px 30px 50px;
    margin-bottom: 30px;
}

.ubicacion img{
    height: 20px;
    padding: 0px 10px;
}

.ubicacion{
    display:inline-flex;
    padding-bottom: 20px;
    align-items: center;
}

.edit img{
    height: 18px;
}

.edit{
    display:inline-flex;
    padding-top: 20px;
}

.edit p, .b3 p{
    padding-left: 10px;
    color: #085394;
    text-decoration: underline;
    font-weight: bold;
}

/* Desarrollo de columna derecha */

.yc{
    margin-top: 30px;
}

.b1{
    background-color: black;
    height: 70px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: lighter;
}

.cant1{
    background-color: #cccccc;
    padding: 0px 7px;
    color: black;
    border-radius: 20px;
}
.b2, .b3{
    border-bottom: 4px solid #cccccc;
    border-left: 4px solid #cccccc;
    border-right: 4px solid #cccccc;
    padding: 10px;
}

#edu{
    display: block;
}

.tituloedu{
    padding: 20px;
}

.user2 img, .user3 img{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50px;
    margin: 10px;
}

.user2{
    width: 100%;
    display:inline-flex;
}
.u1{
    display:inline-flex;
    align-items: center;
}

.user3{
    width: 100%;
}

.u2 {
    margin-left: auto;
}

.fecha{
    color: #cccccc;
    margin-bottom: 10px;
}