* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}
/* Navegador de pagina */
.nav{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    color: white;
    padding: 15px 150px;
    position:static;
}

a{
    color:#c7c7c7;
    margin: 0px 25px;
    text-decoration: none;
}

.active{
    font-weight: bold;
    color: white;
}

ul{
    display: flex;
    align-items: center;
    justify-content:space-between;
    list-style:none;
}

button{
    background-color: #17a2b8;
    padding: 5px 20px;
    color: white;
    font-size: 15px;
}

/* Desarrollo de pagina */
.contenido{
    padding: 10px 150px;
    display: flex;
    align-items: flex-start;
    justify-content:space-around;
}

.col-i{
    flex: 2;
    margin: 30px 15px 30px 0px;
}

.col-d{
    flex: 1;
    margin: 30px 0px 30px 15px;
}

/* Desarrollo de columna izquierda*/
/* .tarjeta{
   margin: 0 auto;
} */

.bloque1{
    height: 100px;
    background: #17a2b8;
    border: 2px solid #17a2b8;
}

.user img{
    height: 100px;
    width: 100px;
    border: 3px solid #cccccc;
    padding: 3px;
    background-color: white;
    border-radius: 100px;
    margin-left: 45px;
    margin-top: 45px;
}

.bloque2{
    border-bottom: 4px solid #cccccc;
    border-left: 4px solid #cccccc;
    border-right: 4px solid #cccccc;
    display: flex;
    align-items:flex-start;
    justify-content: flex-end;
    flex-direction: column;
    padding: 60px 0px 30px 50px;
    margin-bottom: 30px;
}

.ubicacion img{
    height: 20px;
    padding: 0px 10px;
}

.ubicacion{
    display: flex;
    padding-bottom: 20px;
    align-items: center;
}

.edit img{
    height: 18px;
}

.edit{
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.edit p{
    padding-left: 10px;
    color: #085394;
    text-decoration: underline;
    font-weight: bold;
}

/* Desarrollo de columna derecha */

.b1{
    background-color: black;
    height: 70px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: lighter;
}

.cant1{
    background-color: #cccccc;
    padding: 0px 7px;
    color: black;
    border-radius: 20px;
}
.b2{
    border-bottom: 4px solid #cccccc;
    border-left: 4px solid #cccccc;
    border-right: 4px solid #cccccc;
    display: flex;
    align-items:flex-start;
    justify-content:space-evenly;
    flex-direction: column;
    margin-bottom: 30px;
}
#edu{
    display: block;
}
.tituloedu{
    padding: 20px;
}

.user2 img{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50px;
    margin: 10px;
}

.user2{
    display: flex;
    align-items:flex-start;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}

.u2 {
    margin-left: auto;
}
